In [47]:
from influxdb_client import InfluxDBClient
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
# Reach out to mtrichardson@uchicago.edu for access credentials

client = InfluxDBClient(url=os.environ['INFLUX_URL'], token=os.environ['INFLUX_TOKEN'], org=os.environ['INFLUX_ORG'])

query = """
import "strings"

from(bucket: "netrics-prod0")
  |> range(start: -30d)
  |> filter(fn: (r) => r["install"] == "nm-mngd-20210518-c22d980b")
  |> filter(fn: (r) => r["_measurement"] == "ping_latency")
  |> filter(fn: (r) => strings.containsStr(v: r["_field"], substr: "ip_address"))
"""

fquery = query.format('0', 'now()')
print(fquery)

result = client.query_api().query_data_frame(fquery)

import "strings"

from(bucket: "netrics-prod0")
  |> range(start: -30d)
  |> filter(fn: (r) => r["install"] == "nm-mngd-20210518-c22d980b")
  |> filter(fn: (r) => r["_measurement"] == "ping_latency")
  |> filter(fn: (r) => strings.containsStr(v: r["_field"], substr: "ip_address"))

In [48]:
print(result.shape)
# result = result.drop(columns=['result', 'table', '_start', '_stop', 'meta_extended_dataver', 'meta_extended_debhash'])
result.head()

(62256, 11)

,result,table,_start,_stop,_time,_value,_field,_measurement,install,meta_extended_dataver,meta_extended_debhash
0,_result,0,2022-08-01 19:40:53.004664+00:00,2022-08-31 19:40:53.004664+00:00,2022-08-21 00:40:57.804344+00:00,4.71.254.129,Atlanta_ip_address,ping_latency,nm-mngd-20210518-c22d980b,1,b012ede
1,_result,0,2022-08-01 19:40:53.004664+00:00,2022-08-31 19:40:53.004664+00:00,2022-08-21 00:45:55.099256+00:00,4.71.254.129,Atlanta_ip_address,ping_latency,nm-mngd-20210518-c22d980b,1,b012ede
2,_result,0,2022-08-01 19:40:53.004664+00:00,2022-08-31 19:40:53.004664+00:00,2022-08-21 00:50:55.370084+00:00,4.71.254.129,Atlanta_ip_address,ping_latency,nm-mngd-20210518-c22d980b,1,b012ede
3,_result,0,2022-08-01 19:40:53.004664+00:00,2022-08-31 19:40:53.004664+00:00,2022-08-21 00:52:53.194498+00:00,4.71.254.129,Atlanta_ip_address,ping_latency,nm-mngd-20210518-c22d980b,1,b012ede
4,_result,0,2022-08-01 19:40:53.004664+00:00,2022-08-31 19:40:53.004664+00:00,2022-08-21 00:55:56.698773+00:00,4.71.254.129,Atlanta_ip_address,ping_latency,nm-mngd-20210518-c22d980b,1,b012ede

In [50]:
pd.options.display.max_rows = 100
grouped = result.groupby(["_field", "_value"]).size().reset_index()
grouped.groupby('_field').size()

_field
Atlanta_ip_address           1
Chicago_ip_address           1
Denver_ip_address            1
Hong_Kong_ip_address         1
Johannesburg_ip_address      1
Paris_ip_address             1
Sao_Paulo_ip_address         1
Seattle_ip_address           1
Stockholm_ip_address         1
Sydney_ip_address            1
Tunis_ip_address             1
Washington_DC_ip_address     1
amazon_ip_address           30
facebook_ip_address          2
google_ip_address            7
suntimes_ip_address         11
tribune_ip_address          84
uchicago_ip_address          1
wikipedia_ip_address         1
youtube_ip_address          18
dtype: int64